<div class='container'>

  <h3 class='text-center'>History</h3>

  <a href='/'>Home</a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Original Url</th>
        <th scope="col">Shortened Url</th>
      </tr>
    </thead>
    <tbody>
      {{#each urls}}
        <tr>
          <th scope="row">{{inc @index}}</th>
          <td>{{this.longUrl}}</td>
          <td>{{this.shortUrl}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>
