<div class='container pt-5'>

  <h2 class='text-center'>URL Shortener</h2>

  <a href='urls' class='float-right'>History</a>

  <form method="POST" action="/urls">
    <div class="form-group">
      <label for="longUrl">Url</label>
      <input type="text" name="longUrl" class="form-control" placeholder='Enter a url...'>
    </div>
    <div class='text-center'>
      <button id="longUrl" type="submit" class="btn btn-primary btn-sm mx-auto">Shorten Url!</button>
    </div>
  </form>

  <br />

  {{#if shortUrl}}
    <h5 class='text-center'>Shortened Url:</h5>
    <p class='text-center'><strong>{{shortUrl}}</strong></p>
  {{/if}}

</div>
